<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>258224385416-1h5jm37hngotsb0rk22h7u1f9tuncqrq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.258224385416-1h5jm37hngotsb0rk22h7u1f9tuncqrq</string>
	<key>API_KEY</key>
	<string>AIzaSyCUJidF3w032DP5K25aZas2BLSp5o4pLr0</string>
	<key>GCM_SENDER_ID</key>
	<string>258224385416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ilkuygulama</string>
	<key>PROJECT_ID</key>
	<string>flutter-ed691</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-ed691.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:258224385416:ios:b1b9fa2aa89de3a5</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-ed691.firebaseio.com</string>
</dict>
</plist>